apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-v1
  labels:
    app: {{ .Chart.Name }}
    version: v1
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        version: v1
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:v1"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
